In [3]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [4]:
for i in range(1,6):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [6]:
for i in range(5,0,-1):
    print('* '*i)

* * * * *
* * * *
* * *
* *
*

In [54]:
for i in range(6,0,-1):
    print(' '*i + '*'*(6-i))

     *
    **
   ***
  ****
 *****

In [26]:
for i in range(6,0,-1):
    print(' '*i + '* '*(6-i))

     *
    * *
   * * *
  * * * *
 * * * * *

In [103]:
print("        *")
for i in range(1,6,1):
    
        
    print(' '*(6-i),'*'+ '  '*i+'*')
    
    if i == 5:
        print(' * * * * * * * *')

        *
      *  *
     *    *
    *      *
   *        *
  *          *
 * * * * * * * *

In [80]:
for i in range(1, 6, 1):
    for j in range(i, i+1):
        print(str(i)*j)

1
22
333
4444
55555

In [81]:
num = 1
for i in range(1,6,1):
    for j in range(0, i):
        print(num, end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [115]:
sums = 0
for i in range(10, 0, -1):
    print(' '*sums + '* '*i)
    sums+=1
sums2 = 8
for i in range(2,11, 1):
    print(' '*sums2 + '* '*i)
    sums2-=1

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [128]:
sums3 = 5
for i in range(1,6, 1):
    print(' '*sums3 + '* '*i)
    sums3-=1
sums4 = 4   
for i in range(2,7,1):
    print(' '*i + '* '*sums4)
    sums4-=1

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *